## IF

In [2]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

## CHECKING FOR EQUALITY

In [8]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
cars = 'bmw'
cars == 'bmw'

car = 'audi'
car == 'bmw'

False

## Ignoring Case When Checking for Equality

Testing for equality is case sensitive in Python. For example, two values with 
different capitalization are not considered equal

In [9]:
car = 'Audi'
car == 'audi'

False

 you can convert the 
variableâ€™s value to lowercase before doing the comparison:

In [18]:
car = 'Audi'
car.lower() == 'audi'

True

## Checking for Inequality
When you want to determine whether two values are not equal, you can use 
the inequality operator (!=).

In [22]:
gender = 'boy'
if gender != 'boy':
    print('He is not a Boy')
else:
    print("He is a Boy")

He is a Boy

## Numerical Comparisons
Testing numerical values is pretty straightforward. For example, the following code checks whether a person is 18 years old

In [34]:
age = 18
age ==18

#NOT EQUAL
answer = 7
if answer != 42:
    print("That is not the correct answer. please try again!")
else:
    print("That is very correct answer. You did  very nice job")

#OTHERS

age = 19
age < 21
age <= 21
age >= 21

That is not the correct answer. please try again!

False

## CHECKING FOR MULTIPLE CONDITION

In [ ]:
age_0 = 22
age_1 = 18

age_0 >= 21 and  age_1 >=21

True

### CHECKING WHETHER A VALUE IS NOT IN A LIST

In [37]:
banned_users =['andrew', 'carolina', 'david']
user = 'maris'

if user not in banned_users:
    print(f"{user.title()}, you can post a respomse if you wish")

Maris, you can post a respomse if you wish